
<%= form_for @user do |u| %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= u.label :family_name %><br>
    <%= u.text_field :family_name %>
  </p>
 
  <p>
    <%= u.label :name %><br>
    <%= u.text_field :name %>
  </p>
 
  <p>
    <%= u.label :email %><br>
    <%= u.email_field :email %>
  </p>

  <p>
    <%= u.label :birthday %><br>
    <%= u.date_field :birthday %>
  </p>
  
  <p>
    <%= u.label :phone %><br>
    <%= u.text_field :phone %>
  </p>

  <p>
    <%= u.label :cellphone %><br>
    <%= u.text_field :cellphone %>
  </p>

  <p>
    <%= u.label :bio %><br>
    <%= u.text_area :bio %>
  </p>

  <p>
    <%= u.label :career %><br>
    <%= u.text_area :career %>
  </p>

  <p>
    <%= u.label :rate %><br>
    <%= u.number_field :rate , :step => 0.01 %>
  </p>

    <p>
    <%= u.label :currency %><br>
    <%= u.select(:currency, [['$','dollar'],['€','euro']]) %>
  </p>

  <p>
    <%= u.submit %>
  </p>
<% end %>