
<p>
  <strong>Family name:</strong>
  <%= @user.family_name %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>


<p>
  <strong>Cellhone:</strong>
  <%= @user.cellphone %>
</p>


<p>
  <strong>Biographie:</strong>
  <%= @user.bio %>
</p>


<p>
  <strong>Carreer:</strong>
  <%= @user.carreer %>
</p>


<p>
  <strong>Rate:</strong>
  <%= @user.rate %>
</p>